<!-- Datos que necesitan ser sacados de la base de datos:
-Rostro
-Descripcion/Puesto
-Nombre
-->
<div class="tarjeta-usuario" id="tarjeta-usuario">
    <div class="logo_ineginano">
        <div class="oficial_inegi">
            <img src="../static/styles/images/inegi.png" alt="INEGI" id="INEGI">
        </div>
    </div>

    <div class="info">
        <div class="evento">
            <img src="../static/styles/images/encuesta.svg" alt="encuesta" id="encuesta" class="encuesta">
        </div>
        <div class="rostro">
            <img src="../static/styles/faces/747474.png" alt="face" id="face" class="face">
        </div>
    </div>

    <div class="description" id="description">
        <p id="adescription" class="adescription">Adescripción <span id="direction" class="direction">DIRECCIÓN REGIONAL NORESTE</span></p><br>
        <p id="job" class="job">ENTREVISTADOR</p>
    </div>
    
    <div class="fullname" id="fullname">
        <p id="name" class="name">Gabriela</p><p id="last_name" class="last_name">Hernández Vázquez</p>
    </div>
</div>