<!-- Datos que necesitan ser sacados de la base de datos:
-Rostro
-Descripcion/Puesto
-Nombre
-->
<link rel="stylesheet" href="{{ url_for('static', filename='/styles/user_card.css') }}">

<div class="tarjeta-usuario" id="tarjeta-usuario" {% if not usuario %}style="display: none;"{% endif %}>
    <div class="logo_ineginano">
        <div class="oficial_inegi">
            <img src="../static/styles/images/inegi.png" alt="INEGI" id="INEGI">
        </div>
    </div>

    <div class="info">
        <div class="evento">
            <img src="../static/styles/images/encuesta.svg" alt="encuesta" id="encuesta" class="encuesta">
        </div>
        <div class="rostro">
            {% if usuario %}
                <img src="{{ usuario.photo }}" alt="face" id="face" class="face">
            {% else %}
                <img src="../static/styles/faces/default.jpg" alt="face" id="face" class="face">
            {% endif %}
        </div>
    </div>

    <div class="description" id="description">
        {% if usuario %}
            <p id="adscription" class="adscription">Adscription: {{ usuario.adscription }}</p>
            <p id="job" class="job">{{ usuario.job }}</p>
        {% else %}
            <p id="adscription" class="adscription">Sin datos disponibles</p>
            <p id="job" class="job">---</p>
        {% endif %}
    </div>
   
    <div class="fullname" id="fullname">
        {% if usuario %}
            <p id="name" class="name">{{ usuario.name }}</p>
            <p id="last_name" class="last_name">{{ usuario.last_names }}</p>
        {% else %}
            <p id="name" class="name">---</p>
            <p id="last_name" class="last_name">---</p>
        {% endif %}
    </div>
</div>