<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reconócelo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/body.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/user_card.css') }}">
</head>

{% include "nav.html" %}
{% include "body.html" %}
{% include "user_card.html" %}
{% include "footer.html" %}
</html>